# **üìò Intro_to_R ‚Äì Student Version (R Kernel)**



**üìå How to use this notebook**



*   Read each markdown cell first.
*   Write your code only between # STUDENT START and # STUDENT END.
*   You may run cells multiple times.
*   You can add extra print() to inspect objects.

Student name:Mohammad Reza
</br>
Student number:402106604

# **üß≠ PART 1 ‚Äî Getting Started with R**

Get comfortable with assigning variables, printing, and comments.

In [ ]:
# Example: assignment and printing
x <- 5     # assign value 5 to x
y <- 10    # assign value 10 to y

# print values
print(x)
print(y)

# simple arithmetic
x + y
x * y

**Create two variables a and b,** then:



*   print their sum,
*   print their product,
*   print a to the power of b.

In [ ]:
# START HERE
# Create a and b, and compute sum, product, and a^b
a <- 3
b <- 4

print(paste("Sum:", a + b))
print(paste("Product:", a * b))
print(paste("a to the power of b:", a ^ b))


# END HERE

# **üî¢ PART 2 ‚Äî Data Types & Variables**

Understand basic types: numeric, character (string), logical (TRUE/FALSE).

In [ ]:
# Examples
num_val <- 3.14        # numeric
char_val <- "BRCA1"    # character
log_val <- TRUE        # logical

class(num_val)
class(char_val)
class(log_val)

Create age <- 21 (numeric), gene <- "TP53" (character), flag <- FALSE (logical).

Use class() to check their types.

In [ ]:
# START HERE
# Create age, gene, flag and print their classes
age <- 21    # numeric
gene <- "TP53" #character
flag <- FALSE

class(age)
class(gene)
class(flag)

# END HERE

# **üì¶ PART 3 ‚Äî Vectors & Lists**

Vectors: ordered collection of same type.

Lists: can hold mixed types.

In [ ]:
# Vector examples
genes <- c("BRCA1", "TP53", "MYC")
expr  <- c(12.5, 8.2, 15.0)

length(genes)
length(expr)

# Indexing (1-based in R)
genes[1]
expr[3]

# List example (mixed types)
sample_info <- list(sample_id = "S1", condition = "treated", replicates = 3)
sample_info$sample_id

[1] 3

[1] 3

[1] "BRCA1"

[1] 15

[1] "S1"

Create a numeric vector vals with 5 numbers of your choice. Then:


*   Print its length.
*   Access the 2nd and 5th elements.

In [ ]:
# START HERE
# Create vals, print length, and access elements 2 and 5
sample_vector <- c(12 , 14 , 16 , 23 , 41)

length(sample_vector)
sample_vector[2]
sample_vector[5]
# END HERE

[1] 5

[1] 14

[1] 41

Create a list meta with fields: id, tissue, batch. Print tissue.

In [ ]:
# START HERE
# Create meta list and print tissue

meta <- list(id = "S01", tissue = "liver", batch = 2)

# Print the value of the 'tissue' field
print(meta$tissue)
# END HERE

[1] "liver"

# **üóÇ PART 4 ‚Äî Data Frames**

Create and inspect a table (like a spreadsheet), typical for gene expression.

In [ ]:
# Example: build a simple data frame
genes <- c("BRCA1", "TP53", "MYC", "EGFR")
expr  <- c(10.1, 12.3, 8.7, 15.5)
cond  <- c("treated", "control", "treated", "control")

df <- data.frame(gene = genes, expression = expr, condition = cond, stringsAsFactors = FALSE)
df

# Inspect
nrow(df)
ncol(df)
colnames(df)

# Select a column
df$gene
df[ , "expression"]

# Filter rows
df[df$expression > 10, ]

  gene  expression condition
1 BRCA1 10.1       treated
2 TP53  12.3       control
3 MYC    8.7       treated
4 EGFR  15.5       control

[1] 4

[1] 3

[1] "gene"       "expression" "condition"

[1] "BRCA1" "TP53"  "MYC"   "EGFR"

[1] 10.1 12.3  8.7 15.5

  gene  expression condition
1 BRCA1 10.1       treated
2 TP53  12.3       control
4 EGFR  15.5       control

Create a data frame samples with columns:



*   sample = c("S1","S2","S3")
*   group = c("A","A","B")
*   value = any numeric values you like









Then print only rows where group == "A".

In [ ]:
# START HERE
# Create samples df and filter group == "A"
sample <- c("S1","S2","S3")
group  <- c("A","A","B")
value  <- c(3,5,9)

df <- data.frame(sample = sample, group = group, value = value, stringsAsFactors = FALSE)
df

df[df$group == "A",]



# END HERE

  sample group value
1 S1     A     3
2 S2     A     5
3 S3     B     9

  sample group value
1 S1     A     3
2 S2     A     5

# **üßÆ PART 5 ‚Äî Basic Functions**

Use core functions: sum(), mean(), median(), min(), max(), length().

In [ ]:
vals <- c(4, 7, 9, 10, 3)

sum(vals)
mean(vals)
median(vals)
min(vals)
max(vals)
length(vals)

[1] 33

[1] 6.6

[1] 7

[1] 3

[1] 10

[1] 5

Given scores <- c(2, 8, 6, 9, 5, 11), compute and print:

*  mean,

*  standard deviation (sd()),

*  the number of elements greater than 6 (hint: sum(scores > 6)).

In [ ]:
# START HERE
scores <- c(2, 8, 6, 9, 5, 11)

# compute mean, sd, and count of values > 6

print(paste("Mean of scores:", mean(scores)))
print(paste("Standard deviation of scores:", sd(scores)))
print(paste("Number of values greater than 6:", sum(scores > 6)))

# END HERE

[1] "Mean of scores: 6.83333333333333"
[1] "Standard deviation of scores: 3.18852107828483"
[1] "Number of values greater than 6: 3"

# **üìÅ PART 6 ‚Äî Reading CSV**

Load a CSV file into a data frame using read.csv().
You can use any local CSV file (e.g., data/gene_expression_small.csv).

In [ ]:
# Example: reading a CSV
csv_path <- "gene_expression_small.csv"
expr_df <- read.csv(csv_path, stringsAsFactors = FALSE)
head(expr_df)
str(expr_df)

Warning message in file(file, "rt"):
‚Äúcannot open file 'gene_expression_small.csv': No such file or directory‚Äù

ERROR: Error in file(file, "rt"): cannot open the connection

Set csv_path to a CSV file you have.

Read it into my_df.

Print the first 5 rows with head(my_df, 5) and show its structure with str(my_df).

In [ ]:
# START HERE
csv_path <- "gene_expression_test.csv"
my_df <- read.csv(csv_path, stringsAsFactors = FALSE)

# print head and structure
head(expr_df)
str(expr_df)



#  END HERE

# **üìä PART 7 ‚Äî Basic Plot**

Make a simple scatter plot or bar plot with base R plotting.

In [ ]:
# Example scatter: expression vs index
expr <- c(10.1, 12.3, 8.7, 15.5, 11.2)
plot(expr, main = "Example Expression Values", xlab = "Index", ylab = "Expression")

Create two numeric vectors of the same length, xvals and yvals.

Make a scatter plot plot(xvals, yvals, main="My Scatter").

In [ ]:
# START HERE
# Create xvals and yvals, then plot

xvals <- c(2,4,5,8)
yvals <- c(1,-2,9,12)

plot(xvals,yvals,main = "My Scatter" , xlab = "Index" , ylab = "Expression")

# END HERE

# **üß© PART 8 ‚Äî Writing Functions in R**

Define reusable functions, work with arguments, return values, and simple checks.

8.1 Function Basics

In [ ]:
# Example: a simple function to compute GC content of a DNA string
gc_content <- function(dna) {
  # Convert to upper just in case
  s <- toupper(dna)
  n <- nchar(s)
  if (n == 0) return(NA_real_)
  gc <- sum(unlist(strsplit(s, "")) %in% c("G", "C"))
  return(100 * gc / n)
}

# Try it
gc_content("ATGCGT")
gc_content("")

Write a function nucleotide_counts(seq) that returns a named vector with counts of A, T, C, G.

In [ ]:
# START HERE
# Define: nucleotide_counts(seq)
nucleotide_counts <- function(seq) {
# Hints:
# - Use toupper()
seq <- toupper(seq)
# - Use strsplit(seq, "") to split into characters
seq_vec <-unlist(strsplit(seq, ""))
# - Use sum(chars == "A") etc.
count_A <- sum(seq_vec == "A")
count_T <- sum(seq_vec == "T")
count_C <- sum(seq_vec == "C")
count_G <- sum(seq_vec == "G")
# - Return c(A=..., T=..., C=..., G=...)
return(c(A = count_A, T = count_T, C = count_C, G = count_G))
}
# END HERE


print(nucleotide_counts("acgtastgtt"))

8.2 Arguments with Defaults & Input Validation

In [ ]:
# Example: k-mer counter with default k = 3
kmer_count <- function(seq, k = 3) {
  s <- toupper(seq)
  n <- nchar(s)
  if (!is.numeric(k) || length(k) != 1 || k < 1) {
    stop("k must be a positive integer length 1.")
  }
  if (k > n) return(integer(0))
  kmers <- sapply(1:(n - k + 1), function(i) substr(s, i, i + k - 1))
  tab <- table(kmers)
  return(tab[order(names(tab))])
}

# Try it
kmer_count("ATGCGT", k = 2)

Write a function safe_mean(x, na_rm = TRUE) that:

* checks x is numeric,

* if na_rm is TRUE, ignores NAs,

* returns NA if all values are NA or x is length 0.

In [ ]:
# START HERE
# Define: safe_mean(x, na_rm = TRUE)
# Hints:
safe_mean <- function(x, na_rm = TRUE) {
 if (!is.numeric(x)){
  stop("x must be numeric")
 }
# - if (length(x) == 0) return(NA_real_)
if ((length(x)) == 0 || all(is.na(x))){
      return(NA_real_)
}
# - mean(x, na.rm = na_rm)
 mean(x, na.rm = na_rm)
}

# END HERE

8.3 Returning Multiple Values (Lists) & Simple Tests

In [ ]:
# Example: summary of a numeric vector
vec_summary <- function(x) {
  if (!is.numeric(x)) stop("x must be numeric.")
  if (length(x) == 0) return(list(mean = NA_real_, sd = NA_real_, n = 0))
  out <- list(
    mean = mean(x, na.rm = TRUE),
    sd   = sd(x, na.rm = TRUE),
    n    = sum(!is.na(x))
  )
  return(out)
}

vec_summary(c(1, 2, 3, NA))

Create a short numeric vector and verify your safe_mean() handles NAs as expected.

In [ ]:
# START HERE
# Create vector, call safe_mean with na_rm TRUE/FALSE, print results


vector <- c(1, 5, NA, 12, 8, NA)

call_with_true <- safe_mean(vector, TRUE)
call_with_false <- safe_mean(vector, FALSE)

print(call_with_true)
print(call_with_false)

# END HERE

# **üéØ MINI TASKS**

# **‚úÖ Mini Task 1 ‚Äî Gene Expression Summary**

Task:

1. Create a numeric vector expr_vals with at least 6 expression values (e.g., TPM).

2. Compute and print:

    * mean,

    * max,

    * min,

    * the index (position) of the max value (hint: which.max()).

In [ ]:
# START HERE
# 1) Create expr_vals
expr_vals <- c(5.2, 8.7, 3.1, 9.4, 7.8, 6.0)
# 2) Compute mean, max, min, and position of max
mean_val <- mean(expr_vals)
max_val <- max(expr_vals)
min_val <- min(expr_vals)
max_index <- which.max(expr_vals)

cat("Mean:", mean_val, "\n")
cat("Max:", max_val, "\n")
cat("Min:", min_val, "\n")
cat("Index of Max Value:", max_index, "\n")
# END HERE

# **‚úÖ Mini Task 2 ‚Äî Build a Gene Data Frame & Filter**

Task:

1. Create a data frame gene_df with columns:

    * gene (character): at least 6 gene symbols

    * expr (numeric): expression values

    * cond (character): group labels like "treated"/"control"

2. Print only genes where expr > THRESHOLD (you choose the threshold).

3. (Optional) Plot expr as a simple bar plot with gene names on x-axis (hint: barplot() with names.arg=).

In [ ]:
# START HERE
# 1) Create gene_df (gene, expr, cond)
gene_df <- data.frame(
  gene = c("TP53", "EGFR", "MYC", "BRCA1", "MTOR", "AKT1"),
  expr = c(5.2, 8.7, 3.1, 9.4, 7.8, 6.0),
  cond = c("treated", "control", "treated", "control", "treated", "control")
)
THRESHOLD <- 6
# 2) Filter rows by expr threshold
high_expr <- gene_df[gene_df$expr > THRESHOLD, ]
print(high_expr)
# 3) Optional: barplot of expr by gene
barplot(
  gene_df$expr,
  names.arg = gene_df$gene,
  col = "steelblue",
  main = "Gene Expression Levels",
  xlab = "Gene",
  ylab = "Expression (TPM)"
)


# END HERE

# **üéØ Mini-Tasks (Functions)**

Mini-Task F1 ‚Äî Reusable QC function
Write a function qc_read(read_seq, min_len = 50, allowed = c("A","C","G","T","N")) that:

* checks length ‚â• min_len,

* returns TRUE/FALSE,

* ensures all characters belong to allowed.

In [ ]:
# START HERE
# Define qc_read(read_seq, min_len = 50, allowed = c("A","C","G","T","N"))
qc_read <- function(read_seq, min_len = 50, allowed = c("A", "C", "G", "T", "N")) {
chars <- strsplit(read_seq, "")[[1]]
  if (!all(chars %in% allowed)) {
    return(FALSE)
  }
    return(TRUE)

}
# Return TRUE if passes, else FALSE
qc_read("ACGTXYZ", min_len = 5)
qc_read("ACGTACGTNNNN", min_len = 10)



# END HERE

# **üîß Advanced Add-Ons**

# **üì¶ Cell 1 ‚Äî Install packages (idempotent)**

In [ ]:
# Install BiocManager if needed
if (!requireNamespace("BiocManager", quietly = TRUE)) {
  install.packages("BiocManager")
}

# --- Bioconductor packages (only if missing) ---
bioc_pkgs <- c("GEOquery", "limma", "sva")
to_install_bioc <- bioc_pkgs[!vapply(bioc_pkgs, requireNamespace, logical(1), quietly = TRUE)]
if (length(to_install_bioc)) {
  BiocManager::install(to_install_bioc, ask = FALSE, update = TRUE)
}

# --- CRAN packages (only if missing) ---
cran_pkgs <- c("umap", "ggplot2", "dplyr", "ggrepel", "plotly", "irlba", "dbscan")
to_install_cran <- cran_pkgs[!vapply(cran_pkgs, requireNamespace, logical(1), quietly = TRUE)]
if (length(to_install_cran)) {
  install.packages(to_install_cran, dependencies = TRUE)
}

# Optional: show what changed
cat("Installed (Bioc):", paste(to_install_bioc, collapse = ", "), "\n")
cat("Installed (CRAN):", paste(to_install_cran, collapse = ", "), "\n")

# **Load libraries quietly + show versions**

In [ ]:
# Load libraries (suppress noise)
suppressPackageStartupMessages({
  library(GEOquery)
  library(limma)
  library(sva)
  library(umap)
  library(ggplot2)
  library(dplyr)
  library(dbscan)
  library(irlba)
})

# Verify versions
pkg_ver <- function(x) as.character(utils::packageVersion(x))
data.frame(
  package = c("GEOquery","limma","sva","umap","ggplot2","dplyr","dbscan","irlba"),
  version = vapply(c("GEOquery","limma","sva","umap","ggplot2","dplyr","dbscan","irlba"), pkg_ver, character(1))
)

# **Tiny ggplot example (no internet, built-in data)**

In [ ]:
# Scatter with regression smooth on mtcars (built-in)
df <- mtcars
ggplot(df, aes(x = wt, y = mpg)) +
  geom_point() +
  geom_smooth(method = "lm", se = FALSE) +
  labs(title = "mpg vs wt (mtcars)", x = "Weight (1000 lbs)", y = "MPG")

# **UMAP + DBSCAN demo on iris (quick ML taste)**

In [ ]:
set.seed(123)

# Use iris numeric features
X <- as.matrix(iris[, 1:4])

# 1) UMAP (2D embedding)
umap_res <- umap::umap(X)
emb <- as.data.frame(umap_res$layout)
colnames(emb) <- c("UMAP1","UMAP2")

# 2) DBSCAN clustering on embedding (eps, minPts can be tweaked)
db <- dbscan::dbscan(emb, eps = 0.6, minPts = 5)
emb$cluster <- factor(db$cluster)  # 0 = noise

# 3) Plot clusters (ggplot)
ggplot(emb, aes(UMAP1, UMAP2, color = cluster)) +
  geom_point(size = 2) +
  labs(title = "UMAP + DBSCAN on iris", color = "cluster")

# **Vectorization & the apply Family**

Write fast, vectorized code and use apply/lapply/sapply for matrices/lists.

In [ ]:
# Vectorization demo
v <- 1:10
v2 <- v * 3 + 1
v2

# apply over matrix rows/cols
m <- matrix(1:12, nrow = 3)
row_sums <- apply(m, 1, sum)
col_means <- apply(m, 2, mean)
row_sums; col_means

In [ ]:
# START HERE
# Create a 5x5 matrix of numbers 1..25 (byrow=TRUE), then:
m <- matrix(1:25,byrow = TRUE,nrow = 5)
# 1) compute row means (apply)
apply(m,1,mean)
# 2) compute column max (apply)
apply(m,2,max)
# 3) multiply entire matrix by 2 using vectorization
m <- m * 2
m
# END HERE

# **Factors & Missing Values (NA)**

handle categorical data and NAs.

In [ ]:
x <- c("treated","control","treated","treated","control")
f <- factor(x)
f; levels(f)

y <- c(1, NA, 3, 4, NA)
mean(y, na.rm = TRUE)
sum(is.na(y))

In [ ]:
# START HERE
# Make a character vector of groups (e.g., "A","B","A","C","B"), convert to factor,
# print levels, then count how many entries are "B".

char_vector <- c("A","B","A","C","B")
f <- factor(char_vector)
f; levels(char_vector)
sum(f == "B")

# END HERE

[1] A B A C B
Levels: A B C

NULL

[1] 2

# **Basic Statistics: t-test & Multiple Testing (BH/FDR)**

run simple tests and control FDR (like BH in RNA-seq workflows).

In [ ]:
set.seed(42)
grp <- rep(c("treated","control"), each = 10)
x   <- rnorm(20, mean = ifelse(grp=="treated", 1, 0), sd = 1)

# Two-sample t-test
t.test(x[grp=="treated"], x[grp=="control"])

	Welch Two Sample t-test

data:  x[grp == "treated"] and x[grp == "control"]
t = 2.9527, df = 13.421, p-value = 0.01089
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.4630611 2.9584459
sample estimates:
 mean of x  mean of y
 1.5472968 -0.1634567

In [ ]:
# START HERE
# Simulate 100 genes: for each gene, generate 10 treated and 10 control values (normal).
number_of_genes <- 100
num_samples_per_group <-10
data_matrix <- matrix(NA, nrow = number_of_genes  , ncol =  2 * num_samples_per_group)
mean_shift <- c(rep(1, 50), rep(0, 50))
# For half the genes, add a mean shift of +1 to treated to simulate DE.
for (i in 1:number_of_genes) {
  control_values <- rnorm(num_samples_per_group, mean = 0, sd = 1)
  treated_values <- rnorm(num_samples_per_group, mean = mean_shift[i], sd = 1)
  data_matrix[i, ] <- c(treated_values, control_values)
}
# 1) For each gene, run a t-test and collect p-values.
p_value_vector <- numeric(number_of_genes)

treated_cols <- 1:10
control_cols <- 11:20

for (i in 1:number_of_genes) {
  test_result <- t.test(data_matrix[i, treated_cols], data_matrix[i, control_cols])
  p_value_vector[i] <- test_result$p.value
}
# 2) Adjust p-values with BH (p.adjust(..., method="BH")).
adjusted_p_values <- p.adjust(p_value_vector, method = "BH")
# 3) Count how many genes are significant at FDR < 0.05.
significant_genes_count <- sum(adjusted_p_values < 0.05)
print(significant_genes_count)



# END HERE

# **Correlation, Heatmap, and Clustering**

quick QC / similarity checks between samples.

In [ ]:
# Build a small expression matrix (genes x samples)
set.seed(1)
mat <- matrix(rnorm(200), nrow = 20)  # 20 genes, 10 samples
print(mat)
colnames(mat) <- paste0("S", 1:10)

# Correlation between samples
cors <- cor(mat)
# Heatmap (base R)
heatmap(cors)

In [ ]:
# START HERE
# 1) Scale each gene (row) to mean 0 / sd 1 -> use scale(t(mat)) trick or apply.
scaled_mat <- t(scale(t(mat)))
# 2) Compute correlation of the (scaled) matrix across samples.
sample_cors <- cor(scaled_mat)
# 3) Perform hierarchical clustering: dist() + hclust(), and plot the dendrogram.
sample_distances <- dist(t(scaled_mat), method = "euclidean")
sample_hclust <- hclust(sample_distances, method = "complete")
plot(sample_hclust, main = "Hierarchical Clustering of Samples",
     xlab = "Samples (S1-S10)", sub = "")


# END HERE

# **PCA (Principal Components) with prcomp**

dimension reduction for expression matrices.

In [ ]:
set.seed(7)
X <- matrix(rnorm(300), nrow = 30)  # 30 genes x 10 samples
colnames(X) <- paste0("S", 1:10)

# PCA expects samples in rows (or set transpose accordingly)
pca <- prcomp(t(X), scale. = TRUE)
summary(pca)$importance[ , 1:3]  # variance explained

In [ ]:
# START HERE
# 1) Run PCA on t(X) with scaling.
pca <- prcomp(t(X), scale. = TRUE)
# 2) Extract PC1 and PC2 scores and make a basic scatter (base plot).
#    Hint: pca$x[,1], pca$x[,2]
pc1 <- pca$x[, 1]
pc2 <- pca$x[, 2]

plot(pc1, pc2,
     xlab = "PC1",
     ylab = "PC2",
     main = "PCA Scatter Plot")




# END HERE